.admin-nav-card {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    padding: 8px;
    height: fit-content;
}

.admin-nav-item {
    justify-content: flex-start;
    align-items: center;
    border: none;
    background-color: transparent;
    display: flex;
    gap: 8px;
    padding: 12px;
    border-radius: var(--radius);
    text-decoration: none;
    color: hsl(var(--secondary-foreground));

    &:hover {
        background-color: hsl(var(--secondary));
        cursor: pointer;
    }

    & > i {
        font-size: 20px;
    }
}

.admin-nav-item-active {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));

    &:hover {
        background-color: hsl(var(--primary));
    }
}

.dashboard-card {
    padding: 16px;
    border: solid 1px hsl(var(--border));
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    gap: 8px;
    flex: 0.5;

    & > div > i {
        font-size: 20px;
    }

    & > h2 {
        margin: 0;
    }
}

.category-card {
    padding: 16px;
    border: solid 1px hsl(var(--border));
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}