@import "colors.css";

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: var(--background);
}

footer {
    background-color: var(--primary);
    color: var(--background);
}

.fs-7 {
    font-size: 0.95rem;
}

.primary-link {
    color: var(--primary);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.login-container {
    max-width: 524px;
}