@import "colors.css";

:root {
    --font-family: 'Inter', 'Arial', 'sans-serif';
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: var(--background);
}

p {
    margin: 0;
}

footer {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.fs-7 {
    font-size: 0.95rem;
}

.primary-link {
    color: hsl(var(--primary));
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.error {
    font-size: 14px;
}

.user-avatar {
    background-color: hsl(var(--primary));
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    & > i {
        color: white;
        font-size: 20px;
    }
}

.btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.autocomplete-container {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    background-color: hsl(var(--background));
}

.autocomplete-item {
    background-color: hsl(var(--background));
    border: none;
    justify-content: flex-start !important;

    &:hover {
        background-color: hsl(var(--secondary));
    }
}