@import "colors.css";

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: var(--background);
}

p {
    margin: 0;
}

footer {
    background-color: var(--primary);
    color: var(--background);
}

.fs-7 {
    font-size: 0.95rem;
}

.primary-link {
    color: var(--primary);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.error {
    font-size: 14px;
}

.user-avatar {
    background-color: var(--primary-100);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    & > i {
        color: var(--primary);
        font-size: 20px;
    }
}