#editor, .ql-toolbar {
    border-color: hsl(var(--input)) !important;
    border-radius: var(--radius);
}

.ql-toolbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: var(--font-family);
}

#editor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: var(--font-family);
}

.ql-picker-label, .ql-picker-item {
    font-family: var(--font-family);
}

.ql-picker-label:hover, .ql-picker-label:hover > svg > .ql-stroke {
    stroke: hsl(var(--primary)) !important;
    color: hsl(var(--primary)) !important;
}

.ql-active {
    color: hsl(var(--primary)) !important
}

.ql-active .ql-stroke {
    stroke: hsl(var(--primary)) !important;
}

.ql-active .ql-fill {
    fill: hsl(var(--primary)) !important;
}

.ql-formats > button:hover .ql-stroke {
    stroke: hsl(var(--primary)) !important;
}

.ql-formats > button:hover .ql-fill {
    fill: hsl(var(--primary)) !important;
}

.ql-picker-options {
    background-color: hsl(var(--background)) !important;

    & > .ql-picker-item:hover {
        color: hsl(var(--primary)) !important;
    }
}